<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LockState" value="Closed"/>
    <add key="DeviceConnectionString" value="HostName=LockIoTHub.azure-devices.net;DeviceId=LockController;SharedAccessKey=Yljv7UsWStaT+pPh0rE2aq3E08lS+L5/jAS/5tbH0vI="/>
  </appSettings>
</configuration>